.container {
    background: #999966;
}
.try {
    background-color: #E0E0E0;
    margin-top: 10px;
}
.formUser {
    background-color: #BCAAA4;
    padding: 20px 0px 20px 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}
input {
    width: 300px;
    height: 35px;
}
.subFormUser {
    padding: 20px 0px 20px 40px;
    border: 1px solid;
    border-radius: 9px;
    background-color: #B0BEC5;
}
#contentTD{
  margin: 35px;
}
.cart{
  padding-top: 20px;
}
.contenCart{
  padding: 30px;
  margin: 10px;
  background-color: #C5E1A5;
  border-radius: 9px;
}
#photo {
    padding-right: 37px;
}
.listUser {
    padding: 20px;
}
#imageUser {
    padding: 5px;
}
#infor {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 5px;
    width: 300px;
}
#formListFrient {
    padding: 10px;
    background-color: #EEEEEE;
}
#listFriend {
    margin-right: 10px;
}
#titleUser{
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.formGroup{
  margin-right: 30px;
}
#inputGroup{
  margin: 8px;
}
#spaceButton{
  margin: 2px;
}
.FULL{
  padding-top: 50px;
}
.menuConten{
  background-color:#00796B;
}
.navbar-default .navbar-nav>li>a {
  color: #fff !important;
}
.activeA{
  background-color: red;
}
