.container {
    background: #999966;
}
.formUser {
    background-color: #BCAAA4;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}
.subFormUser {
    padding: 20px 0px 20px 40px;
    border: 1px solid;
    border-radius: 9px;
    background-color: #B0BEC5;
}
.cart {
    padding-top: 20px;
}
.contenCart {
    padding: 30px;
    margin: 10px;
    background-color: #C5E1A5;
    border-radius: 9px;
}
#photo {
    padding-right: 37px;
}
.listUser {
    padding-top: 20px;
}
.listCart {
    background-color: #D7CCC8;
    margin: 4px;
    padding: 10px;
    border-radius: 9px;
}
.listCartContent {
    background-color: #F5F5F5;
    padding: 7px;
}
.cartNull {
    color: red;
    font-size: 20px;
    font-weight: bold;
    background-color: #E0E0E0;
    margin: 10px;
    border-radius: 9px;
}
.titleCart{
  padding-top: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: white;
}
#inputGroup {
    margin: 8px;
}
#spaceButton {
    margin: 2px;
}
.FULL {
    padding-top: 300px;
}
.menuConten {
    background-color: #00796B;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.activeA {
    background-color: red;
}
.menuCart{
  color: red;
  font-size: 17px;
  font-weight: bold;
}
.adminContent{
  background-color: #BCAAA4;
  padding: 10px;
  margin: 7px;
}
.contendProductAdmin{
  background-color: #FFF3E0;
  padding-top: 10px;
  padding-bottom: 10px;
}
#book{
  position: fixed;
 top: 0;
 left: 0;
 z-index: 3;
 width: 100%;
 background-color: #00a087;
}
.manageStore{
  font-size: 30px;
  font-weight: bold;
  color: white;
}
#nameBook{
  color: #009688;
  font-size: 18px;
}
#idBook{
  color: #039BE5;
  font-size: 17px;
}
.totalCart{
  background-color: #BCAAA4;
}
